.tabBar {
    color :#F5FFFA;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #000000;
}

.tabBar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 48px;
    transition: 0.3s;
}

.tabBar button:hover {
    background-color: #D3D3D3;
}

.tabBar button.active {
    background-color: #A9A9A9;
}

.tabcontent {
    display: none;
    padding: 12px 24px;
    border: 2px solid #ccc;
    border-top: none;
}

.number {
  padding: 48px 96px;
}

.dialOrClear{
  padding: 48px 128px;
}

.clearButton{
  padding: 48px 128px;
}

.contactName{
  padding: 36px 64px;
}

.dialerInput{
  padding: 20px 160px; 
}

.contactAdd{
  padding: 24px 108px;
  

}
